.profile-content {
    position: relative;
    display: flex;
    flex-direction: column;
    //left: 100px;
    // width: calc(100% - 240px);
}
.input-box {
    display: flex;
    flex-direction: column;
}
.input-box + .input-box {
    margin-top: 12px;
}
.event-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .input-box{
        width: 100%;
    }
}
