.Upload-btn {
    border-color: rgba(22, 24, 35, 0.12);
    margin-right: 16px;
    background-color: buttonface;
    //color: var(--white);
}
.create-event {
    width: 500px;
}
.choose-file {
}
.input-wrapper
{
    display: grid;
  grid-template-columns: 1fr 1fr; /* Chia thành 2 cột bằng nhau */
  gap: 20px; /* Khoảng cách giữa các cột và hàng */
}
.form-create{
  
}
