.wrapper {
    min-height: 1000px;
    width: 265px;
    padding: 20px 10px 26px 10px;
    //background-color: #ccc;
    z-index: 20;
    // position: relative;
    flex-shrink: 0;
    background-color: #fff;
    border-right: 1px solid var(--border-color);
    //background-color: var(--light-pink);
}
